services:
  flask_app:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - .:/app
    environment:
      - FLASK_ENV=development
      - FLASK_DEBUG=1
      - FLASK_APP=app:create_app
    command: ["flask", "run", "--host=0.0.0.0"]
    env_file:
      - .env
