<section class="hero">
    <div class="hero-text">
        <h1>
            <span>¿Te puedo transferir?</span>
            <span class="span-obvio">Obvio</span> 
        </h1>
        <p>
            Todo lo que necesitás en una sola billetera virtual
        </p>
        <a href="/register">Unite a OBVIO</a> 
    </div>
    <div class="hero-image">
        <img src="https://picsum.photos/500/400" alt="">
    </div>
</section>

<section class="features">
    <div class="feature">
        <div class="text">
            <h2>Realizá transferencias al instante</h2>
            <p>OBVIO te permite realizar transferencias rápida y sencillamente.</p>
        </div>
        <div class="image">
            <img src="https://picsum.photos/400/120" alt="">
        </div>
    </div>

    <div class="feature">
        <div class="text">
            <h2>Juntá plata con amigos</h2>
            <p>Con OBVIO, podés crear vaquitas con tus amigos para compartir gastos.</p>
        </div>
        <div class="image">
            <img src="https://picsum.photos/400/120?2" alt="">
        </div>
    </div>

    <div class="feature">
        <div class="text">
            <h2>Conocé en qué gastás tu plata</h2>
            <p>Resúmenes de tus gastos e ingresos, para que puedas administrar mejor tu dinero.</p>
        </div>
        <div class="image">
            <img src="https://picsum.photos/400/120?3" alt="">
        </div>
    </div>

    <div class="feature">
        <div class="text">
            <h2>Pagá en un click</h2>
            <p>Pagá en un click en tus comercios favoritos, sin necesidad de llevar efectivo.</p>
        </div>
        <div class="image">
            <img src="https://picsum.photos/400/120?4" alt="">
        </div>
    </div>
</section>
