{% extends 'base.html' %} {% block title %} Crear Nuevo Evento {% endblock %} {%
block content %}
<h1>Crear Nuevo Evento</h1>

<!-- Mostrar mensajes de flash -->
{% with messages = get_flashed_messages() %} {% if messages %}
<ul style="color: green">
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %} {% endwith %}

<form action="{{ url_for('eventos_bp.crear_evento') }}" method="POST">
  <h3>Datos del Cliente</h3>
  <label>DNI:</label>
  <input type="text" name="dni" required /><br />

  <label>Nombre:</label>
  <input type="text" name="nombre" required /><br />

  <label>Apellido:</label>
  <input type="text" name="apellido" required /><br />

  <label>Teléfono:</label>
  <input type="text" name="telefono" /><br />

  <label>Institución:</label>
  <input type="text" name="institucion" /><br />

  <h3>Datos del Evento</h3>
  <label>Descripción:</label>
  <input type="text" name="descripcion" required /><br />

  <div>
      <div>
          <label>Fecha Inicio*</label>
          <input type="date" name="fecha_inicio" required>
          <label>Hora Inicio</label>
          <input type="time" name="hora_inicio">
      </div>
      <div>
          <label>Fecha Fin*</label>
          <input type="date" name="fecha_fin" required>
          <label>Hora Final</label>
          <input type="time" name="hora_fin">
      </div>
  </div>

  <label>Observaciones:</label>
  <input type="text" name="observaciones" /><br />

  <label>Monto Total:</label>
  <input type="number" step="0.01" name="monto_total" required /><br />

  <label>Monto Inicial (seña):</label>
  <input type="number" step="0.01" name="monto" /><br />

  <h3>Responsables de Llave</h3>
  <label>Nombre Apertura:</label>
  <input type="text" name="nombre_apertura" /><br />

  <label>Apellido Apertura:</label>
  <input type="text" name="apellido_apertura" /><br />

  <label>Nombre Cierre:</label>
  <input type="text" name="nombre_cierre" /><br />

  <label>Apellido Cierre:</label>
  <input type="text" name="apellido_cierre" /><br />

  <button type="submit">Crear Evento</button>
</form>

<br />
<a href="{{ url_for('eventos_bp.eventos') }}">Volver a lista de eventos</a>
{% endblock %}
