{% extends 'base.html' %} {% block title%} Eventos {% endblock %} {% block
content %} {% with messages = get_flashed_messages(with_categories=true) %} {%
if messages %} {% for category, message in messages %}
<div class="alert alert-{{ category }}">{{ message }}</div>
{% endfor %} {% endif %} {% endwith %}

<h1>Agregar usuario</h1>
<h2>Detalles de usuario</h2>
<form action="" method="POST">
  <label>Nombre de usuario*</label>
  <input type="text" name="usuario" required />

  <label for="rol">Rol:</label>
  <select name="rol" id="rol" required>
    <option value="">-- Seleccioná un rol --</option>
    <option value="usuario">Usuario</option>
    <option value="administrador">Administrador</option>
  </select>

  <label>Nombre*</label>
  <input type="text" name="nombre" required />

  <label>Apellido*</label>
  <input type="text" name="apellido" required />

  <label>Email*</label>
  <input type="email" name="email" required />

  <label>Contraseña*</label>
  <input type="password" name="password" required />

  <label>Repetir contraseña*</label>
  <input type="password" name="password2" required />

  <div class="acciones">
    <button type="submit" class="btn btn-add">Añadir Usuario</button>
    <a href="{{ url_for('cuentas.cuentas') }}"
      ><button type="button" class="btn btn-cancel">Cancelar</button></a
    >
  </div>
</form>

{% endblock %}
