<!DOCTYPE html>
<html>
    <head>
        <title>Club Alberdi - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href=" {{ url_for('static', filename ='css/style.css') }}">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="{{ url_for('main.inicio') }}">Inicio</a></li>
                <li><a href="{{ url_for('main.eventos') }}">Eventos</a></li>
                <li><a href="{{ url_for('main.clientes') }}">Clientes</a></li>
                <li><a href="{{ url_for('main.ingresos') }}">Ingresos</a></li>
                <li><a href="{{ url_for('main.cuentas') }}">Cuentas</a></li>
                <li><a href="{{ url_for('main.registro') }}">Registro</a></li>
            </ul>
        </nav>

        {% block content %}
        
        {% endblock %}

        <script src= " {{ url_for('static', filename ='js/main.js') }}"></script>
    </body>
</html>