{% extends 'base.html' %}
{% block title%} Clientes {% endblock %}

{% block content %}

    <h1> Clientes </h1>
    <p> Acá iría el listado de clientes </p>

     {% if clientes %}
        <ul>
            {% for cliente in clientes %}
            <li>
                <strong>{{ cliente.nombre }} {{ cliente.apellido }}</strong>
                {% if cliente.dni %} - DNI: {{ cliente.dni }}{% endif %}
                {% if cliente.telefono %} - Tel: {{ cliente.telefono }}{% endif %}
                {% if cliente.institucion %} - {{ cliente.institucion }}{% endif %}
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay clientes registrados.</p>
    {% endif %}


{% endblock %}

        

    