{% with mensajes = get_flashed_messages(with_categories=true) %} {% if mensajes
%} {% for categoria, mensaje in mensajes %}
<div class="alert alert-{{ categoria }}">{{ mensaje }}</div>
{% endfor %} {% endif %} {% endwith %} {% extends 'base.html' %} {% block
title%} Eventos {% endblock %} {% block content %}

<!--Busqueda por campo especifico-->
<form
  action="{{url_for('eventos_bp.buscar_evento_campo')}}"
  method="POST"
  class="search-container"
>
  <select name="campo">
    <option value="dni">DNI</option>
    <option value="nombre">Nombre</option>
    <option value="descripcion">Descripción</option>
  </select>
  <input type="search" name="valor" placeholder="Ingrese un dato..." />
  <button type="submit">🔍</button>

  <a href="{{ url_for('eventos_bp.eventos') }}" class="btn btn-secondary"
    >Ver Todos</a
  >
</form>
<!--Busqueda por rango de fechas-->
<form action="">
  <div class="rango-fecha">
    <div class="campo-fecha">
      <label for="desde">Desde:</label>
      <input type="date" id="desde" name="desde" />
      <label>📅</label>
    </div>

    <div name="hasta" class="campo-fecha">
      <label for="hasta">Hasta:</label>
      <input type="date" id="hasta" name="hasta" />
      <label>📅</label>
    </div>
  </div>
</form>

<table>
  <thead>
    <tr>
      <th>DNI</th>
      <th>Fecha</th>
      <th>Hora Inicio</th>
      <th>Hora Fin</th>
      <th>Pago</th>
      <th>Nombre responsable</th>
    </tr>
  </thead>
  <tbody>
    {% for evento in eventos_list | reverse %}
    <tr>
      <td>{{ evento.dni }}</td>
      <td>{{ evento.fecha_inicio }}</td>
      <td>{{ evento.hora_inicio }}</td>
      <td>{{ evento.hora_fin }}</td>
      <td>{{ evento.pagos | map(attribute='monto_pago') | sum }}</td>
      <td>
        {{ evento.responsable_apertura.nombre}}{{
        evento.responsable_apertura.apellido}}
      </td>
      <td class="acciones">
        <a href="" class="ver">📄</a>
        <a href="" class="pagar">💳</a>
        <a href="" class="editar">✏️</a>
        <form
          action="{{ url_for('eventos_bp.eliminar_evento', id_evento=evento.id_evento) }}"
          method="POST"
          style="display: inline"
        >
          <button
            type="submit"
            class="eliminar"
            onclick="return confirm('¿Seguro que querés eliminar este evento?')"
          >
            🗑️
          </button>
        </form>
      </td>
    </tr>
    {% else %}
    <tr>
      <td colspan="7">No hay eventos cargados</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div>
  <a href="/" class="btn back">Volver</a>
</div>

{% endblock %}
