<!DOCTYPE html>
<html>
    <head>
        <title>Club Alberdi - Inicio de Sesión</title>
        <link rel="stylesheet" href=" {{ url_for('static', filename ='css/style.css') }}">
    </head>
    <body>
        <h1>Registro</h1>

        <form action="">
            <label for="username">Nombre de usuario</label>
            <input type="text" name="username" id="username">
            <br>
            <label for="username">Contraseña</label>
            <input type="text" name="password" id="password">
            <br>
            <input type="submit" value="Registrar">

        </form>
        <script src= " {{ url_for('static', filename ='js/main.js') }}"></script>
    </body>
</html>

