{% extends 'base.html' %}
{% block title%} Clientes {% endblock %}

{% block content %}

    <h1> Pagos </h1>
    <p> Acá iría el listado de pagos del evento número {{ id_evento }} </p>

     {% if pagos %}
        <ul>
            {% for pago in pagos %}
            <li>
                <strong>ID pago: {{ pago.id_pago }} </strong>
                {% if pago.fecha %} - Fecha: {{ pago.fecha }}{% endif %}
                {% if pago.monto_pago %} - Monto: {{  pago.monto_pago }}{% endif %}
                {% if pago.usuario_creacion %} - {{ pago.usuario_creacion }}{% endif %}
                <td class="acciones">
                    <a href="{{ url_for('ingresos.eliminar_pago', id_pago=pago.id_pago ) }}" class="me-2">🚮</a>
                    </form>
                </td>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay pagos registrados.</p>
    {% endif %}
    {% if mensaje %}
        <div class="alert alert-warning">{{ mensaje }}</div>
    {% endif %}

    <a href="{{ url_for('ingresos.ingresos') }}">Volver</a>



{% endblock %}

        

    